extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/runtime.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/anime-vendors.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/react-vendors.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/swiper-bundle.min.js")
	script(defer="defer" type="text/javascript" src="./js/app/index-homepage.min.js") 
block title
	- var text='Студия зувукозаписи "Gusli" Обнинск' 

block page-content
	.page#page 
block notfound
			script.
				window.onload = function () {
					var segmentCount = 0;
					var l = window.location;
					l.replace(
						l.protocol + '//' + l.hostname + (l.port ? ':' + l.port : '') +
						l.pathname.split('/').slice(0, 1 + segmentCount).join('/') + '/?p=/' +
						l.pathname.slice(1).split('/').slice(segmentCount).join('/').replace(/&/g, '~and~') +
						(l.search ? '&q=' + l.search.slice(1).replace(/&/g, '~and~') : '') +
						l.hash
					);
				};
