extends ../layouts/app_layout
append link 
	meta(http-equiv="refresh", content="0; URL=\'/Test-Project/build/index.html\'")  
block title
	- var text='Redirecting...' 

block notfound
	script.
		import { useLocation } from 'react-router-dom';
		window.onload = function () {
			const location = useLocation();
			const url = location.pathname.includes('/') ? `/Test-Project/build/index.html` : '/';
			document.querySelector('meta[http-equiv="refresh"]').setAttribute('content', `0; URL='${url}'`);
		};
